<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYPlaceHolderView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A30E0D0E1E790D8000502C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A30E0D271E790D8100502C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A30E0D321E790D8100502C0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
